
<html>
<head>
    <title>Registrar</title>
</head>
<body>
    <h1>Welcome to the Registrar</h1>

    <h3><a href="/courses">Add or view a Course</a></h3>
    <h3><a href="/students">Add or view a Student</a></h3>

</body>
</html>
